<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/dash.css">
</head>
<body>
    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="logo">
                <i class="fas fa-brain"></i> MultiBrain
            </div>
            <nav class="main-nav">
                <ul>
                    <li class="/"><a href="/" id="dashboardLink"><i class="fas fa-th-large"></i> Dashboard</a></li>
                    <li><a href="/events"><i class="fas fa-calendar-check"></i> Events</a></li>
                    <li><a href="/auto_assign"><i class="fas fa-file-alt"></i> Transcribe</a></li>
                    <li><a href="/employees_page"><i class="fas fa-users"></i> Employees</a></li>
                    <li><a href="/tasks_page"><i class="fas fa-user-circle"></i> Tasks</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <div class="welcome-message">
                <h1>Welcome back, Evan!</h1>
                <p>Here's a summary of your activities:</p>
            </div>

            <div class="top-sections-grid">
                <section class="dashboard-card workload-section">
                    <div class="card-header">
                        <h3>Workload</h3>
                        <a href="#" id="view-all-workload-link" class="view-all-link">View All</a>
                    </div>
                    <div class="workload-list" id="top-employees-grid">
                    </div>
                </section>

                <section class="dashboard-card nearest-events-section">
                    <div class="card-header">
                        <h3>Nearest Events</h3>
                        <a href="#" class="view-all-link" id="view-all-events-link">View All</a> <!-- Added ID -->
                    </div>
                    <div class="event-list">
                    </div>
                </section>
            </div>

            <section class="dashboard-card tasks-section full-width-task-section">
                <div class="card-header">
                    <h3>Tasks</h3>
                    <a href="#" class="view-all-link">View All</a>
                </div>
                <div class="task-list" id="assigned-tasks-list">
                </div>
                <button class="add-task-btn" id="autoAssignBtn">
                    <i class="fas fa-plus"></i> Auto Assign New Task
                </button>
            </section>

        </main>
    </div>

    <script src="static/dash.js"></script>
</body>
</html>